SDSComXMLNE_DE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- *****************************************************************************
Issue		: SDSComXML XSD   	
Purpose	: German Extension Schema Definition      
 			  		to enable a xml-based			 
 			  		distribution of Safety Data Sheets (SDS)		
 			  		as specified in the Format. For detailed 								
 			  		information please refer to 
 			  		http://www.eSDSCom.eu										
History	:  
Recent changes are documented on https://github.com/esdscom/sdscom-xml

History until SDScom v4.2.0: 																					

2015.06.18 added to WaterHazardClassEnum new Enum "awg" = allgemein wassergefährdend
2015.08.28 Revision of the GisCodeEnum (removed the duplicate items)														
***************************************************************************** -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="SDSComXMLDT.xsd"/>
	<xs:include schemaLocation="SDSComXMLCT.xsd"/>
	<!-- *******************************************************************  Datasheet *************  -->
	<xs:complexType name="NationalExtensionDE">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> National legislations related to the chemical: National German laws which implement provisions, and any other national measures related to the chemical. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RestrictionsOfOccupation" type="Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Stoerfallverordnung" type="Stoerfallverordnung" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaLuft" type="TaLuft" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="WaterHazardClass" type="WaterHazardClass" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OtherRestrictionsAndProhibitionRegulations" type="Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> Other German legislation: </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationNoAccordingToBiozidMeldeverordnung" type="Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdditionalInformation" type="Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NationalWasteLegislationDE" type="NationalWasteLegislationDE" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> National legislation: National requirements related to waste that applies to the product or its packaging. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageClass" type="StorageClassEnum" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> German storage class: Classification of the chemical in accordance with German regulation. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GisCode" type="string16" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> German GisCode of the BGBau for the construction industrie </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* NationalWasteLegislationDE *************  -->
	<xs:complexType name="NationalWasteLegislationDE">
		<xs:annotation>
			<xs:documentation> NationalWasteLegislationDE </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WasteCode" type="Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> National waste code: National identification number for the chemical and or its packaging as waste, with a corresponding description of the waste covered by the actual number. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WasteRegulations" type="Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> National waste regulations: National regulations related to waste that applies to the product or its packing. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* Stoerfallverordnung *************  -->
	<xs:complexType name="Stoerfallverordnung">
		<xs:annotation>
			<xs:appinfo>SDScomChem</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Text" type="Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remark" type="Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* WaterHazardClass *************  -->
	<xs:complexType name="WaterHazardClass">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> WaterHazardClass </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class" type="WaterHazardClassEnum" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Water hazard class (WGK): </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Source" type="Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remark" type="Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************** TaLuft ********************* -->
	<xs:complexType name="TaLuft">
		<xs:sequence>
			<xs:element name="WeightFraction" type="UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ClassOrClasses" type="Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="No" type="Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Remark" type="Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ************************************************************** WaterHazardClassEnum ******  -->
	<xs:simpleType name="WaterHazardClassEnum">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> Enumaration of the german water hazard class. awg = "allgemein wassergefährdend", nwg = "nicht wassergefährdend" </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="nwg"/>
			<xs:enumeration value="awg"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ************************************************************** StorageClassEnum ******  -->
	<xs:simpleType name="StorageClassEnum">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation>Enumaration of the german storage class according to TRGS 510.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="LGK 1"/>
			<xs:enumeration value="LGK 2A"/>
			<xs:enumeration value="LGK 2B"/>
			<xs:enumeration value="LGK 3"/>
			<xs:enumeration value="LGK 4.1A"/>
			<xs:enumeration value="LGK 4.1B"/>
			<xs:enumeration value="LGK 4.2"/>
			<xs:enumeration value="LGK 4.3"/>
			<xs:enumeration value="LGK 5.1A"/>
			<xs:enumeration value="LGK 5.1B"/>
			<xs:enumeration value="LGK 5.1C"/>
			<xs:enumeration value="LGK 5.2"/>
			<xs:enumeration value="LGK 6.1A"/>
			<xs:enumeration value="LGK 6.1B"/>
			<xs:enumeration value="LGK 6.1C"/>
			<xs:enumeration value="LGK 6.1D"/>
			<xs:enumeration value="LGK 6.2"/>
			<xs:enumeration value="LGK 7"/>
			<xs:enumeration value="LGK 8A"/>
			<xs:enumeration value="LGK 8B"/>
			<xs:enumeration value="LGK 9"/>
			<xs:enumeration value="LGK 10"/>
			<xs:enumeration value="LGK 11"/>
			<xs:enumeration value="LGK 12"/>
			<xs:enumeration value="LGK 13"/>
			<xs:enumeration value="LGK 10-13"/>
			<!--LGK 1: Explosive Gefahrstoffe-->
			<!--LGK 2A: Gase (ohne Aerosolpackungen und Feuerzeuge)-->
			<!--LGK 2B: Aerosolpackungen und Feuerzeuge-->
			<!--LGK 3: Entzündbare Flüssigkeiten-->
			<!--LGK 4.1A: Sonstige explosionsgefährliche Gefahrstoffe-->
			<!--LGK 4.1B: Entzündbare feste Gefahrstoff-->
			<!--LGK 4.2A: Pyrophore oder selbsterhitzungsfähige Gefahrstoffe-->
			<!--LGK 4.3: Gefahrstoffe, die in Berührung mit Wasser entzündbare Gase entwickeln-->
			<!--LGK 5.1A: Stark oxidierende Gefahrstoffe-->
			<!--LGK 5.1B: Oxidierende Gefahrstoffe-->
			<!--LGK 5.1C: Ammoniumnitrat und ammoniumnitrathaltige Zubereitungen-->
			<!--LGK 5.2: Organische Peroxide und selbstzersetzliche Gefahrstoffe-->
			<!--LGK 6.1A: Brennbare, akut toxische Kat. 1 und 2/sehr giftige Gefahrstoffe-->
			<!--LGK 6.1B: Nicht brennbare, akut toxische Kat. 1 und 2/sehr giftige Gefahrstoffe-->
			<!--LGK 6.1C: Brennbare, akut toxische Kat. 3/giftige oder chronisch wirkende Gefahrstoffe-->
			<!--LGK 6.1D: Nicht brennbare, akut toxische Kat. 3/giftige oder chronisch wirkende Gefahrstoffe-->
			<!--LGK 6.2: Ansteckungsgefährliche Stoffe-->
			<!--LGK 7: Radioaktive Stoffe-->
			<!--LGK 8A: Brennbare ätzende Gefahrstoffe-->
			<!--LGK 8B: Nicht brennbare ätzende Gefahrstoffe-->
			<!--LGK 9: nicht besetzt-->
			<!--LGK 10: Brennbare Flüssigkeiten die keiner der vorgenannten LGK zuzuordnen sind-->
			<!--LGK 11: Brennbare Feststoffe, die keiner der vorgenannten LGK zuzuordnen sind-->
			<!--LGK 12: Nicht brennbare Flüssigkeiten, die keiner der vorgenannten LGK zuzuordnen sind)-->
			<!--LGK 13: Nicht brennbare Feststoffe, die keiner der vorgenannten LGK zuzuordnen sind-->
		</xs:restriction>
	</xs:simpleType>
	<!-- ************************************************************** GisCodeEnum ******  -->
</xs:schema>
