SDSComXMLNE_DE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ****************************************************************************
eSDScom XML schema definition version 5
National Extension for Germany

Source: https://github.com/esdscom/sdscom-xml
License: https://creativecommons.org/licenses/by-nd/4.0/legalcode
***************************************************************************** -->
<xs:schema targetNamespace="http://www.esdscom.eu/eSDScom" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:eSDScom="http://www.esdscom.eu/eSDScom" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="5.4.0">
	<xs:include schemaLocation="SDSComXMLDT.xsd"/>
	<xs:include schemaLocation="SDSComXMLCT.xsd"/>
	<xs:complexType name="SevesoEntryDE">
		<xs:complexContent>
			<xs:extension base="eSDScom:SevesoEntryEU">
				<xs:sequence>
					<xs:element name="BimschNumber">
						<xs:annotation>
							<xs:documentation>Number according to Table 1 of 12 BImSchV, the German implementation of EU's Seveso III Directive</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RegulationsDE">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation>Regulations valid for the product of mixture as a whole. For ingredient information, create type ComponentDE or refer to ComponentEU.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RestrictionsOfOccupation" type="eSDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element minOccurs="0" name="Stoerfallverordnung">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="HealthHazards" type="eSDScom:SevesoEntryDE"/>
						<xs:element minOccurs="0" name="PhysicalHazards" type="eSDScom:SevesoEntryDE"/>
						<xs:element minOccurs="0" name="EnvironmentalHazards" type="eSDScom:SevesoEntryDE"/>
						<xs:element minOccurs="0" name="OtherHazards" type="eSDScom:SevesoEntryDE"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TaLuft" type="eSDScom:TaLuft" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="WaterHazardClass" type="eSDScom:WaterHazardClass" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OtherRestrictionsAndProhibitionRegulations" type="eSDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> Other German legislation: </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationNoAccordingToBiozidMeldeverordnung" type="eSDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdditionalInformation" type="eSDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NationalWasteLegislationDE" type="eSDScom:NationalWasteLegislationDE" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> National legislation: National requirements related to waste that applies to the product or its packaging. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StorageClassDE" type="eSDScom:StorageClassEnumDE" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> German storage class: Classification of the chemical in accordance with German regulation. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GisCode" type="eSDScom:string16" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> German GisCode of the BGBau for the construction industrie </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* NationalWasteLegislationDE *************  -->
	<xs:complexType name="NationalWasteLegislationDE">
		<xs:annotation>
			<xs:documentation> NationalWasteLegislationDE </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WasteCode" type="eSDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> National waste code: National identification number for the chemical and or its packaging as waste, with a corresponding description of the waste covered by the actual number. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WasteRegulations" type="eSDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation> National waste regulations: National regulations related to waste that applies to the product or its packing. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* WaterHazardClass *************  -->
	<xs:complexType name="WaterHazardClass">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> WaterHazardClass </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Class" type="eSDScom:WaterHazardClassEnum" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Water hazard class (WGK): </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Source" type="eSDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remark" type="eSDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************** TaLuft ********************* -->
	<xs:complexType name="TaLuft">
		<xs:sequence>
			<xs:element name="WeightFraction" type="eSDScom:NumericRangeWithUnitAndQualifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ClassOrClasses" type="eSDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="No" type="eSDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Remark" type="eSDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ************************************************************** WaterHazardClassEnum ******  -->
	<xs:simpleType name="WaterHazardClassEnum">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> Enumaration of the german water hazard class. awg = "allgemein wassergefährdend", nwg = "nicht wassergefährdend" </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="nwg"/>
			<xs:enumeration value="awg"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ************************************************************** StorageClassEnum ******  -->
	<xs:simpleType name="StorageClassEnumDE">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation>Enumaration of the german storage class according to TRGS 510.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2A"/>
			<xs:enumeration value="2B"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4.1A"/>
			<xs:enumeration value="4.1B"/>
			<xs:enumeration value="4.2"/>
			<xs:enumeration value="4.3"/>
			<xs:enumeration value="5.1A"/>
			<xs:enumeration value="5.1B"/>
			<xs:enumeration value="5.1C"/>
			<xs:enumeration value="5.2"/>
			<xs:enumeration value="6.1A"/>
			<xs:enumeration value="6.1B"/>
			<xs:enumeration value="6.1C"/>
			<xs:enumeration value="6.1D"/>
			<xs:enumeration value="6.2"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8A"/>
			<xs:enumeration value="8B"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="10-13"/>
			<!--LGK 1: Explosive Gefahrstoffe-->
			<!--LGK 2A: Gase (ohne Aerosolpackungen und Feuerzeuge)-->
			<!--LGK 2B: Aerosolpackungen und Feuerzeuge-->
			<!--LGK 3: Entzündbare Flüssigkeiten-->
			<!--LGK 4.1A: Sonstige explosionsgefährliche Gefahrstoffe-->
			<!--LGK 4.1B: Entzündbare feste Gefahrstoff-->
			<!--LGK 4.2A: Pyrophore oder selbsterhitzungsfähige Gefahrstoffe-->
			<!--LGK 4.3: Gefahrstoffe, die in Berührung mit Wasser entzündbare Gase entwickeln-->
			<!--LGK 5.1A: Stark oxidierende Gefahrstoffe-->
			<!--LGK 5.1B: Oxidierende Gefahrstoffe-->
			<!--LGK 5.1C: Ammoniumnitrat und ammoniumnitrathaltige Zubereitungen-->
			<!--LGK 5.2: Organische Peroxide und selbstzersetzliche Gefahrstoffe-->
			<!--LGK 6.1A: Brennbare, akut toxische Kat. 1 und 2/sehr giftige Gefahrstoffe-->
			<!--LGK 6.1B: Nicht brennbare, akut toxische Kat. 1 und 2/sehr giftige Gefahrstoffe-->
			<!--LGK 6.1C: Brennbare, akut toxische Kat. 3/giftige oder chronisch wirkende Gefahrstoffe-->
			<!--LGK 6.1D: Nicht brennbare, akut toxische Kat. 3/giftige oder chronisch wirkende Gefahrstoffe-->
			<!--LGK 6.2: Ansteckungsgefährliche Stoffe-->
			<!--LGK 7: Radioaktive Stoffe-->
			<!--LGK 8A: Brennbare ätzende Gefahrstoffe-->
			<!--LGK 8B: Nicht brennbare ätzende Gefahrstoffe-->
			<!--LGK 9: nicht besetzt-->
			<!--LGK 10: Brennbare Flüssigkeiten die keiner der vorgenannten LGK zuzuordnen sind-->
			<!--LGK 11: Brennbare Feststoffe, die keiner der vorgenannten LGK zuzuordnen sind-->
			<!--LGK 12: Nicht brennbare Flüssigkeiten, die keiner der vorgenannten LGK zuzuordnen sind)-->
			<!--LGK 13: Nicht brennbare Feststoffe, die keiner der vorgenannten LGK zuzuordnen sind-->
		</xs:restriction>
	</xs:simpleType>
	<!-- ************************************************************** GisCodeEnum ******  -->
</xs:schema>
