SDSComXMLCT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2012 sp1 (x64) (http://www.altova.com) von Nils Jattkowski (eska Ingenieurgesellschaft mbH) bearbeitet -->
<!-- ***************************************************************************** 
Issue		: SDScom XML schema definition 4.x
Purpose	: Complex Types Schema Definition      					
		  		to enable a xml-based		 									
		  		distribution of Safety Data Sheets (SDS)		 		
		  		as specified in the Format. For detailed 				 
		  		information please refer to 									
		  		http://www.eSDSCom.eu									

History	:  
Recent changes are documented on https://github.com/esdscom/sdscom-xml

History until v4.2.0: 																					

2013.04.12 Normally, either a pure substance or a mixture is specified in the composition type. But 
pure substances with stabilizers or impurities, might use both. The stabilizers and impurities can 
be specified as components under the mixture with the IsIpurity og IsStabilizers flags set. An XSD
CHOICE construction in the type Composition has been removedto allow use of both Substance and 
Mixture in such cases. The MinOccurence for both Substance and Mixture has been set to 0.

2013.09.16 Update of ClpHazardStatement from maxOccur 1 to 2 according to CLP ATP 4. 

2013.09.20 Added the attribute ComponentInternalSdsId to components. Optional GUID to identfy
components in mixtures as identical to pure substances with the same GUID as InternalSdsId. 

2013.09.22 Added the the optional attribute PrintAsAttachment to exposure scenarios.

2013.09.23 Added two new fields IsPhysicalValues and IsToxicologicalValues to flag substances of 
mixtures to be shown in section 9 and 11. Min and MaxOccurrences set for all such "show in section X"-flags.

2013.10.14 Added missing MinOccurs=0 and MaxOccurs=1 to IsDetergent.

2013.11.21 The type of AssessedEuRestrictions and AssessedNationalRestrictions changed from xs:boolen
					 to AssessmentEnum for consistency.

2013.11.29 Added a new field IsEcoToxicologicalValues to flag substances of mixtures to be shown in section 12.

2014.02.11 Updated minOccurrence to 0 for Medium in Solubilities according to Excel sheet.

2014.02.12 The type for SafetySigns updated to phrase from SafetySign (enumeration) according to the Excel 
					 definition.

2014.04.04 MinOccurrence changed from 0 to 1 for SuCode, PcCode, ProcCode, AcCode.

2014.07.22 New complexType for ProductGtin
2015.05.21 ReachRegNo maxOccur changed to unbound
					 Changed StorageStability from type phrase to own type
					 Changed GloveThickness from type phrase to UnitValue
					 Changed GloveBreakInTime from type phrase to UnitValue
2015.06.18 Added under PhysicalChemicalProperties->Appearance a new state "StateUnderStandardConditions"
					 Added StateUnderStandardConditionsEnum
					 Changed "IsOccupationalExposureLimit" to "IncludeOccupationalExposureLimit"
					 Changed "IsBiologicalLimitValues" to "IncludeBiologicalLimitValues"
					 Changed "IsPhysicalValues" to "IncludePhysicalValues"
					 Changed "IsToxicologicalValues" to "IncludeToxicologicalValues"
					 Changed "IsEcoToxicologicalValues" to "IncludeEcoToxicologicalValues"
					 Changed LowerExplosionLimit from PhysChemValue to PhysChemUnitValue
					 Changed UpperExplosionLimit from PhysChemValue to PhysChemUnitValue
										
2015.07.30 Extended Component with TransportInformation
					 IsDangerReleasingSubstanceAdrRidAdn
					 IsDangerReleasingSubstanceImdg
					 IsDangerReleasingSubstanceIcao
***************************************************************************** -->
<xs:schema targetNamespace="http://www.esdscom.eu/SDScom" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SDScom="http://www.esdscom.eu/SDScom" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="2.0">
	<xs:include schemaLocation="SDSComXMLDT.xsd"/>
	<!-- National extensions to the standard. Initially empty. -->
	<xs:include schemaLocation="SDSComXMLNE.xsd"/>
	<xs:include schemaLocation="SDSComXMLNE_DE.xsd"/>
	<xs:include schemaLocation="SDSComXMLNE_NO.xsd"/>
	<!-- ******************************************************************* SectorOfUse *************  -->
	<xs:complexType name="SectorOfUse">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> SectorOfUse, source: Chapter 1, used by: CT "IdentifiedUse" </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SuCode" type="SDScom:SectorOfUseCodeEnum" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SuFulltext" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* ProductCategory *************  -->
	<xs:complexType name="ProductCategory">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> ProductCategory, source: Chapter 1, used by: CT "IdentifiedUse" </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PcCode" type="SDScom:ProductCategoryCodeEnum" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PcFulltext" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* ProcessCategory *************  -->
	<xs:complexType name="ProcessCategory">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> ProcessCategory, source: Chapter 1, used by: CT "IdentifiedUse" </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProcCode" type="SDScom:ProcessCategoryCodeEnum" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcFulltext" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* ArticleCategory *************  -->
	<xs:complexType name="ArticleCategory">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> ArticleCategory, source: Chapter 1, used by: CT "IdentifiedUse" </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcCode" type="SDScom:ArticleCategoryCodeEnum" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcFulltext" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* CorrespondingEs *****  -->
	<xs:complexType name="CorrespondingEs">
		<xs:annotation>
			<xs:documentation> CorrespondingEs source: Chapter 1 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExposureScenarioName" type="SDScom:string128" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LegalDocumentFileName" type="SDScom:string256" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> File name: For example, a locked PDF document. Static URL possible. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegalDocumentPrintDate" type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Print date: </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LegalDocumentSignature" type="SDScom:string64" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Digital signature: Digital signature to verify the document </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="XmlFileName" type="SDScom:string256" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Xml file name: File name if the exposure scenarios is available in an Xml format. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* Substance *************  -->
	<xs:complexType name="Substance">
		<xs:annotation>
			<xs:documentation> Substance </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="SubstanceName" type="SDScom:string1024" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:appinfo>SDScomBau</xs:appinfo>
						<xs:appinfo>SDScomChem</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="GenericName" type="SDScom:string1024" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>SDScomBau</xs:appinfo>
						<xs:appinfo>SDScomChem</xs:appinfo>
						<xs:documentation>according to CLP article 24</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="InciName" type="SDScom:string1024" minOccurs="0">
				<xs:annotation>
					<xs:documentation>according to EU cosmetics regulation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CasNo" type="SDScom:CasNo" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> CAS No: Identification number for trade products that are substances. Identification number issued by Chemical Abstract Service. An internationally recognized system for identification of pure substances and groups of substances. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndexNo" type="SDScom:IndexNo" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Index No: Identification number applied on chemical substances classified by authorities and listed in part 3 of Annex VI to CLP regulation (EC) No 1272/2008. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorisationNo" type="SDScom:string32" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Authorisation number: For chemicals subject to authorisation according to REACH Annex XIV, which have been granted authorisation for the actual use. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EcNo" type="SDScom:EcNo" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> EC No: Identification number for trade products that are substances. Identification number for chemical substances within EEA. The EC number is assigned either in EINECS or in ELINCS. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReachRegNo" type="SDScom:ReachRegNo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> REACH registration number: A number issued by ECHA to state that a registration of a substance is complete. The last four digits are identification of the company and may be omitted by DUs (downstream users). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReachRegNoComments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Comments to REACH registration No: E.g. used to describe why a registration number is not supplied. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdNoCLInventory" type="SDScom:ReachRegNo" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Identification No. C and L Inventory: The substance's identification number in EU's Classification and Labelling Inventory. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Synonym" type="SDScom:string1024" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Formula" type="SDScom:string256" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Formula: Field to state the gross formula for the chemical (applies to pure substances). The formula shall be stated according to standard from Chemical Abstract Service. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IupacName" type="SDScom:string1024" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Iupac or chemical name </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NameDetergentsRegulation" type="SDScom:string1024" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubstanceAdditionalInformation" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="MolecularWeight" type="SDScom:UnitValue" minOccurs="0"/>
			<xs:element name="ChemicalPurity" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* StateUnderStandardConditionsEnum ******  -->
	<xs:simpleType name="StateUnderStandardConditionsEnum">
		<xs:annotation>
			<xs:documentation> physical state (only solid/liquid/gaseous) under standard conditions (20°C, 1013 hpa) </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="solid"/>
			<xs:enumeration value="liquid"/>
			<xs:enumeration value="gaseous"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ******************************************************************* EcologicalInformation ************  -->
	<xs:complexType name="ToxInfoStotSE3">
		<xs:sequence>
			<xs:element name="HumanExperience" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OtherInfo" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Usually just one phrase how the evaluation took place. See EuPhraC for content examples.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Source" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Remark" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Usually just one phrase if dta lacking - see EuPhraC for cotent examples.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AssessmentOrClassification" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* EcologicalInformation ************  -->
	<!--Missing-->
	<!--<xs:element name="KnownOrPredictedDistributionToEnvironmentalCompartments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>-->
	<!-- *************************************************************  Classification ********************************************** -->
	<xs:complexType name="Classifications">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> Classification, source: Chapter 2, called by CT "Component" </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ClpClassification" type="SDScom:Classification" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> CLP classification: The chemical’s hazard classification according to EU-CLP, with any remarks and notes. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassificationAdditionalInformation" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Additional information on classification: If the chemical do not meet the classification criteria etc. German: ClassificationAdditionalHints </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- *******************************************************************  OccupationalExposureLimit *************  -->
	<xs:complexType name="Classification">
		<xs:sequence>
			<xs:element name="ClpHazardClassification" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> CLP classification: The chemical’s individual hazard classifications according to EU-CLP. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ClpHazardClassCategory" type="SDScom:HazardClassCategoryEnum" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:appinfo>SDScomBau</xs:appinfo>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation> CLP hazard category: The hazard class and a corresponding category / differentiation according to CLP. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ClpHazardStatement" type="SDScom:HazardStatement" minOccurs="0" maxOccurs="2">
							<xs:annotation>
								<xs:appinfo>SDScomBau</xs:appinfo>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation>Hazard statement: The code and the text of the hazard statement corresponding to the hazard class and category. Zero instances for classes "Expl. 1.6", "Org. Perox. G" and "Self-react. G". One instance usually. Two instances for Aerosols category 1 and 2.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ClpClassificationProcedure" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:appinfo>SDScomBau</xs:appinfo>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation>CLP classification procedure: To state how the individual classification is prepared. (This information should be shown in section 16). Only relevant for instances of type Classification in section 2. For components in section 3, this info should not be part of the SDS.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MultiplyingFactor" minOccurs="0" maxOccurs="1" type="SDScom:int16">
							<xs:annotation>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation>Multiplying factor for substances highly toxic to the environment. Part of the classification of pure substances. The M factors are used in application of summation method for classification of mixtures containing substances that are classified as very toxic. The concept of M factors has been established to give an increased weight to very toxic substances when classifying mixtures. </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="ClpAtp" type="SDScom:AtpEnum">
				<xs:annotation>
					<xs:documentation>Describes which amendment of CLP the ClpHazardClassification (and the labelling) is compliant with. Especially useful if the SDS revision date allows to classify according to different ATPs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClpClassificationComments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClpClassificationNotes" type="SDScom:Phrase" minOccurs="0" maxOccurs="4">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Classification notes: To identify classification notes (letters and/or figures) in the case that the trade product is a substance. This information shall be stated in the SDS together with the classifications of the substance. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HazardLabellings">
		<xs:sequence>
			<xs:element name="ClpLabellingInfo" type="SDScom:HazardLabelling" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> CLP hazard labelling: Hazard labelling information according to CLP (GHS). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInformation" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Additional information and comments to hazard labelling. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EcLabel" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation> EC label: States if true, the hazard label shall be marked ”EC label”. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TactileWarning" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Tactile Warning: To inform if packaging must be supplied with tactile warning if the chemical is supplied to the gerneral public </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChildResistantOpening" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Child Resistant Fastening: To inform if the packaging must be supplied with such fastening if the chemical is supplied to the general public. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LabellingAccordingToOtherEuLegislation" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Other elements of the hazard label in accordance with EU legislation: Labelling required by other EU legislation </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="VocLabelling" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation>VOC Labelling: Labelling requirements according to directive 2004/42/EC (amending 1999/13/EC)</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ProductSubcategory" type="SDScom:Phrase" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>SDScomChem</xs:appinfo>
											<xs:documentation> Product Subcategory: The type of paint or varnish </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="VocLimitForSubcategory" type="SDScom:UnitValue" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>SDScomChem</xs:appinfo>
											<xs:documentation> Maximum VOC content limit for the mixture: The maximum concentration of VOC in the actual product. To begiven i gram per litre. </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MaxVocConcInMixture" type="SDScom:UnitValue" minOccurs="0">
										<xs:annotation>
											<xs:appinfo>SDScomChem</xs:appinfo>
											<xs:documentation> Actual max. concentration in the mixture: The concentration of VOC in the mixture. To begiven i gram per litre. </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DetergentLabelling" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation> Detergent labelling: Labelling requirements according to detergents regulation (648/2004/EC with later amanedments). Includes dosing recommendations. Concentration groups: _lt 5 weight%, 5 - _lt 15 vekt%, 15 - _lt 30 weight%, og _ge 30 weight%. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AerosolLabelling" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation> Aerosol labelling: Labelling of aerosol dispensers in accordance with EU directive (75/324/EEC with later amendments) </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OtherEuLabellingRequirements" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation> Other labelling requirenments in accordance with EU legislation: Labelling requirements imposed to the chemical in accordance with EU legislation not stated above. </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HazardLabelling">
		<xs:sequence>
			<xs:element name="ClpHazardPictogram" type="SDScom:HazardPictogram" minOccurs="0" maxOccurs="6">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Pictogram: A graphical presentation that includes a symbol plus other graphic elements, such as a border, background pattern or colour that is intended to convey specific information on the hazard concerned. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClpSignalWord" type="SDScom:SignalWord" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Signal word: A word that indicates the relative level of severity of hazards to alert the reader to a potential hazard. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClpHazardStatement" type="SDScom:HazardStatement" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Hazard statement: A phrase assigned to a hazard class and category that describes the nature of the hazards of a hazardous substance or mixture, including, where appropriate, the degree of hazard. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClpPrecautionaryStatement" type="SDScom:PrecautionaryStatement" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Precautionary statement: A phrase that describes recommended measure(s) to minimise or prevent adverse effects resulting from exposure to a hazardous substance or mixture due to its use or disposal. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClpSupplementalHazardInformation" type="SDScom:SupplementalHazardInformation" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Supplemental information on the label: Statements shall be included in the section for supplemental information on the label where a substance or mixture classified as hazardous has the physical properties or health properties referred to in sections 1.1 and 1.2 of Annex II of CLP. E.g. EUH001, EUH203, EUH401, etc. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClpSpecialSupplementalLabelInfoMixtures" type="SDScom:SpecialSupplementalLabelInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Special supplemental labelling information: Labelling requirements according to REACH Annex XVII. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClpAdditionalLabellingInfo" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Additional information, CLP labelling: Information for instance on labelling of combined user and transport packing (with reference.to Section 14 of the SDS). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClpSpecialRulesOnPackaging" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OccupationalExposureLimit">
		<xs:annotation>
			<xs:documentation>see Github issue #116 regarding multiple limit values</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LimitValueTypeWithCountryOrOrganisation" type="SDScom:ExposureLimitValueTypeEnum" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Limit8H" type="SDScom:UnitValue" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>If two occurences, one must be ppm and the other a matching mg/m3 value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitShortTerm" type="SDScom:STEL" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>If two occurences, one must be ppm and the other a matching mg/m3 value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PeakLimitation" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Also known as ceiling value. If two occurences, one must be ppm and the other a matching mg/m3 value. One of Value and PeakLimitationOverflowFactor is sufficient. If both are given, Value must be the short-term Value multiplied with the overflow factor.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Value" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
						<xs:element name="PeakLimitationOverflowFactor" type="SDScom:Value" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RecommendedMonitoringProcedure" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExposureLimitLetter" minOccurs="0" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>obsolete; use ParticleFraction instead</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LetterCode" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
						<xs:element name="LetterDescription" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ParticleFraction" type="SDScom:ExposureLimitFractionEnum" minOccurs="0"/>
			<xs:element name="Reference" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A remark that applies to all of the abovementioned OELs. If there are multiple limit values depending on conditions described in remarks (e.g. dust and spray values), use multiple instances of OccupationalExposueLimit.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- *******************************************************************  BiologicalLimitValue *************  -->
	<xs:simpleType name="ExposureLimitFractionEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="inhalable"/>
			<xs:enumeration value="respirable"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BiologicalLimitValue">
		<xs:annotation>
			<xs:documentation> BiologicalLimitValue, source: Chapter 8 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LimitValueTypeWithCountryOrOrganisation" type="SDScom:ExposureLimitValueTypeEnum" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InvestigationParameter" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Value" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TestMaterial" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TestDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Reference" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- *******************************************************************  STEL ******************************  -->
	<xs:complexType name="STEL">
		<xs:annotation>
			<xs:documentation> Short Term Exposure Limit </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AppraisalPeriod" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- *******************************************************************  DNEL ******************************  -->
	<xs:complexType name="DNEL">
		<xs:annotation>
			<xs:documentation> DNEL, source: Chapter 8 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Group" type="SDScom:EffectLevelGroupEnum" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ExposureRouteFrequencyAndEffect" type="SDScom:EffectLevelTypeEnum" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Exposure route, frequency and type of effect: </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DnelValue" type="SDScom:UnitValue" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AssessmentFactor" type="SDScom:Value" minOccurs="0">
				<xs:annotation>
					<xs:documentation>May be important in those cases where the DNEL is very low and where more than 1 DNEL existing to show how high the influence on the deviation was.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reference" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- *******************************************************************  DMEL *****************************  -->
	<xs:complexType name="DMEL">
		<xs:annotation>
			<xs:documentation> DNEL source: Chapter 8 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ExposureRouteFrequencyAndEffect" type="SDScom:EffectLevelTypeEnum" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DmelValue" type="SDScom:UnitValue" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AssessmentFactor" type="SDScom:Value" minOccurs="0">
				<xs:annotation>
					<xs:documentation>May be important in those cases where the DMEL is very low and where more than 1 DMEL existing to show how high the influence on the deviation was.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reference" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- *******************************************************************  PNEC ****************************  -->
	<xs:complexType name="PNEC">
		<xs:annotation>
			<xs:documentation> PNEC source: Chapter 8 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="SDScom:PNECTypeEnum" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ExposureFrequency" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Acute (short term) Repeated (long term) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeOfEffect" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Local or systemic </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PnecValue" type="SDScom:UnitValue" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AssessmentFactor" type="SDScom:Value" minOccurs="0">
				<xs:annotation>
					<xs:documentation>May be important in those cases where the PNEC is very low and where more than 1 PNEC existing to show how high the influence on the deviation was.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reference" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* RespiratoryProtectionArticle *****  -->
	<xs:complexType name="RespiratoryProtectionArticle">
		<xs:annotation>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> RespiratoryProtectionArticle source: Chapter 8 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EquipmentForSelfRescue" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>SDScomChem</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="MaskType" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>SDScomChem</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="FilterApparatusType" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>SDScomChem</xs:appinfo>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Description" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourcesOfSupply" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceRelevantStandard" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Reference relevant standard: Only to be used for referencing old standards for compatibility </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- *******************************************************************  ProtectionArticle *************  -->
	<xs:complexType name="ProtectionArticle">
		<xs:annotation>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> ProtectionArticle source: Chapter 8 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Description" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Manufacturer" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourcesOfSupply" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReferenceRelevantStandard" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Reference relevant standard: Only to be used for referencing old standards for compatibility </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* PhysicalHazardsScreeningProcedures ***********  -->
	<xs:complexType name="PhysicalHazardsScreeningProcedures">
		<xs:annotation>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> PhysicalHazardsScreeningProcedures source: Chapter 9 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ScreeningType" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScreeningResult" type="SDScom:PhysChemUnitValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* PhysicalHazardsSafetyCharacteristics ***********  -->
	<xs:complexType name="PhysicalHazardsSafetyCharacteristics">
		<xs:annotation>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> PhysicalHazardsSafetyCharacteristics source: Chapter 9 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SafetyParameter" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="SafetyResult" type="SDScom:PhysChemUnitValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************** PhValue ********************* -->
	<xs:complexType name="PhValue">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> PhValue source: Chapter 9 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="State" type="SDScom:PhValueStateEnum" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> State: "in delivery state" or "in aqueous solution" </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="SDScom:PhysChemValueWithTemperature" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Concentration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> In aqueous solution </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<!-- xs:complexContent>
      <xs:extension base="PhysChemValueWithTemperature">
        <xs:sequence>
          <xs:element name="State" type="PhValueStateEnum" minOccurs="0" maxOccurs="1"/>
          <xs:element name="Concentration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
		</xs:complexContent -->
	</xs:complexType>
	<!-- ******************************************************************** FlashPoint ******************** -->
	<xs:complexType name="FlashPoint">
		<xs:annotation>
			<xs:appinfo>SDScomBau</xs:appinfo>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> FlashPoint source: Chapter 9 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SDScom:PhysChemUnitValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Evaluation" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValueComments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<!--xs:complexContent>
			<xs:extension base="PhysChemUnitValue">
				<xs:sequence>
					<xs:element name="Valuation" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ValueComments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent -->
	</xs:complexType>
	<!-- ******************************************************************** Solubilities ************** -->
	<xs:complexType name="Solubilities">
		<xs:annotation>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation>Describes the solutibities in one medium, optionally at various temperatures (section 9). </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SolubilityDescription" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Solubility" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation>should be 0..1 only (unbounded is deprecated / on the list for refactoring).</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Medium" type="SDScom:SolubilityMediumEnum" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:appinfo>SDScomChem</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="OtherMediumDescription" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation> Specify solubility medium if Medium above is Other. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Value" type="SDScom:PhysChemUnitValueWithTemperature" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation>If the product has a low solubility or is insoluble in the specified medium, and if there is no numerical translation of this circumstance, put the respective phrase in Comments. (see issue #71)</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<!--xs:complexContent>
			<xs:extension base="PhysChemUnitValueWithTemperature">
				<xs:sequence>
					<xs:element name="Medium" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/> 
					<xs:element name="OtherMediumDescription" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent -->
	</xs:complexType>
	<!-- ******************************************************************** HydrolysisRate ********************* -->
	<xs:complexType name="HydrolysisRate">
		<xs:annotation>
			<xs:documentation> HydrolysisRate source: Chapter 9 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SDScom:PhysChemValueWithTemperature" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Concentration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PhValue" type="SDScom:Value" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<!-- xs:complexContent>
			<xs:extension base="PhysChemValueWithTemperature">
				<xs:sequence>
					<xs:element name="Concentration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
					<xs:element name="PhValue" type="SDScom:Value" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent -->
	</xs:complexType>
	<!-- ******************************************************************* PartitionCoefficient ********************** -->
	<xs:complexType name="PartitionCoefficient">
		<xs:annotation>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> PartitionCoefficient n-octanol/water (log P O/W) source: Chapter 9, 12 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SDScom:PhysChemUnitValueWithTemperature" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<!-- Was PhysChemValueWithTemperature -->
			<xs:element name="Ph" type="SDScom:Value" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<!--xs:complexContent>
			<xs:extension base="PhysChemValueWithTemperature">
				<xs:sequence>
					<xs:element name="PhValue" type="SDScom:Value" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent-->
	</xs:complexType>
	<!-- ******************************************************************** Viscosity ******************** -->
	<xs:complexType name="Viscosity">
		<xs:annotation>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> Viscosity source: Chapter 9 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SDScom:PhysChemUnitValueWithTemperature" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="SDScom:ViscosityTypeEnum" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherTypeDescription" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Concentration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<!--xs:complexContent>
			<xs:extension base="PhysChemUnitValueWithTemperature">
				<xs:sequence>
					<xs:element name="Type" type="ViscosityTypeEnum" minOccurs="0" maxOccurs="1"/>
					<xs:element name="Concentration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
					<xs:element name="OtherTypeDescription" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent-->
	</xs:complexType>
	<!-- ******************************************************************** DissociationConstant ********************* -->
	<xs:complexType name="DissociationConstant">
		<xs:annotation>
			<xs:documentation> DissociationConstant source: Chapter 9 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SDScom:PhysChemValueWithTemperature" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Concentration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<!-- xs:complexContent>
			<xs:extension base="PhysChemValueWithTemperature">
				<xs:sequence>
					<xs:element name="Concentration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent -->
	</xs:complexType>
	<!-- ******************************************************************** SolutionExtractionBehaviourOfPolymersInWater *** -->
	<xs:complexType name="SolutionExtractionBehaviourOfPolymersInWater">
		<xs:annotation>
			<xs:documentation> SolutionExtractionBehaviourOfPolymersInWater source: Chapter 9 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SDScom:PhysChemUnitValueWithTemperature" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PhValue" type="SDScom:Value" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<!-- xs:complexContent>
			<xs:extension base="PhysChemUnitValueWithTemperature">
				<xs:sequence>
					<xs:element name="PhValue" type="SDScom:Value" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent -->
	</xs:complexType>
	<!-- ******************************************************************** RelativeVapourDensity ******************** -->
	<xs:complexType name="RelativeVapourDensity">
		<xs:annotation>
			<xs:documentation> RelativeVapourDensity source: Chapter 9 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SDScom:PhysChemUnitValueWithTemperature" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReferenceGas" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<!-- xs:complexContent>
			<xs:extension base="PhysChemUnitValueWithTemperature">
				<xs:sequence>
					<xs:element name="ReferenceGas" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent -->
	</xs:complexType>
	<!-- ******************************************************************* CorrosionIrritationData ******************  -->
	<xs:complexType name="CorrosionIrritationData">
		<xs:annotation>
			<xs:documentation> CorrosionIrritationData, source: Chapter 11 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ToxicityType" type="SDScom:ToxicityTypeEnum" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Method" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExposureTime" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Species" type="SDScom:Species" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Value" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ResultEvaluation" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ResultEvaluationScore" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TestReference" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* CMRData ************************************  -->
	<xs:complexType name="CMRData">
		<xs:annotation>
			<xs:documentation> CMRData, source: Chapter 11 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ToxicityType" type="SDScom:ToxicityTypeEnum" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Method" type="SDScom:Phrase" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Dose" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExposureRoute" type="SDScom:ExposureRouteEnum" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExposureTime" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EffectValue" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TestDuration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Species" type="SDScom:Species" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Result" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ResultEvaluation" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TestReference" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* STOTData ***************************  -->
	<xs:complexType name="STOTData">
		<xs:annotation>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> STOTData, source: Chapter 11 used by DT: STOT </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ToxicityType" type="SDScom:ToxicityTypeEnum" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Method" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExposureRoute" type="SDScom:ExposureRouteEnum" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<!--xs:element name="Dose" type="DoseEnum" minOccurs="0" maxOccurs="1"/ -->
			<xs:element name="Dose" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExposureTime" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TestDuration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExposureFrequency" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Species" type="SDScom:Species" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Species = Organism or cell line </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecificEffect" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OrganAffected" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Result" type="SDScom:UnitValue" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ResultEvaluation" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TestReference" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************** SurfaceTension ********************* -->
	<xs:complexType name="SurfaceTension">
		<xs:annotation>
			<xs:documentation> SurfaceTension, source: Chapter 9 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SDScom:PhysChemUnitValueWithTemperature" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Concentration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<!--xs:complexContent>
			<xs:extension base="PhysChemUnitValueWithTemperature">
				<xs:sequence>
					<xs:element name="Concentration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent -->
	</xs:complexType>
	<!-- ******************************************************************* FurtherEcologicalData *************  -->
	<xs:complexType name="FurtherEcologicalData">
		<xs:annotation>
			<xs:documentation> FurtherEcologicalData, source: Chapter 12 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SDScom:PhysChemUnitValueWithTemperature" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Concentration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TestDuration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<!-- xs:element name="Temperature" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Method" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TestReference" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/ -->
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* BiologicalDegradation *************  -->
	<xs:complexType name="BiologicalDegradation">
		<xs:annotation>
			<xs:appinfo>SDScomChem</xs:appinfo>
			<xs:documentation> BiologicalDegradation, source: Chapter 12 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SDScom:PhysChemUnitValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="TestDuration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* DegradationElimination *************  -->
	<xs:complexType name="DegradationElimination">
		<xs:annotation>
			<xs:documentation> DegradationElimination, source: Chapter 12 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Value" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<!-- Was PhysChemUnitValue -->
			<!-- xs:element name="TestDuration" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/ -->
			<xs:element name="Method" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Evaluation" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TestReference" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* MobilityData *************************  -->
	<xs:complexType name="MobilityData">
		<xs:annotation>
			<xs:documentation> MobilityData, source: Chapter 12. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Method" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TestReference" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* WasteListEntry ***********************  -->
	<xs:complexType name="WasteListEntry">
		<xs:annotation>
			<xs:documentation> WasteListEntry, source: Chapter 13. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WasteCode" type="SDScom:WasteCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="WasteDescription" type="SDScom:Phrase" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="HazardousWaste" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation>optional because this property can be dreived from WasteCode</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* ProductGtin ***********************  -->
	<xs:complexType name="ProductGtin">
		<xs:annotation>
			<xs:documentation> ProductGtin </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="No" type="SDScom:int20" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> GTIN No: </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="SDScom:string512" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* StorageStability *************  -->
	<xs:complexType name="StorageStability">
		<xs:sequence>
			<xs:element name="StorageTemperature" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Pressure" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MaximumStoragePeriod" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ******************************************************************* Ecotoxicity *************  -->
	<xs:complexType name="Ecotoxicity">
		<xs:annotation>
			<xs:documentation> Ecotoxicity. Source: Chapter 12. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ToxicityType" type="SDScom:ToxicityTypeEnum" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Value" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EffectDoseConcentration" type="SDScom:DoseEnum" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ExposureTime" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TestDuration" type="SDScom:UnitValue" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Species" type="SDScom:Species" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Method" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TestReference" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Evaluation" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- *******************************************************************  GasGroup *********************************  -->
	<xs:complexType name="GasGroup">
		<xs:annotation>
			<xs:documentation> GasGroup. Source: Chapter 9. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Method" type="SDScom:Phrase" minOccurs="0"/>
			<xs:element name="Source" type="SDScom:Phrase" minOccurs="0"/>
			<xs:element name="TestResults" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Evaluation" type="SDScom:GasGroupEnum" minOccurs="0"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- *******************************************************************  Species *************  -->
	<xs:complexType name="Species">
		<xs:annotation>
			<xs:documentation> Species used in tests </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="SDScom:Phrase"/>
			<xs:element name="Gender" type="SDScom:Phrase" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- *******************************************************************  TemperatureClass **************************  -->
	<xs:complexType name="TemperatureClass">
		<xs:annotation>
			<xs:documentation> TemperatureClass </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Method" type="SDScom:Phrase" minOccurs="0"/>
			<xs:element name="Source" type="SDScom:Phrase" minOccurs="0"/>
			<xs:element name="TestResults" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Evaluation" type="SDScom:TemperatureClassEnum" minOccurs="0"/>
			<xs:element name="Comments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- *****************************************************************  PhysicalHazardsGeneralInformation ***********  -->
	<xs:complexType name="PhysicalHazardsGeneralInformation">
		<xs:annotation>
			<xs:documentation> PhysicalHazardsGeneralInformation. Source: Chapter 9. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="JustificationForDataWaiving" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Assessment" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Classification" type="SDScom:Phrase" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ****************************************************************************** PhraseCatalogue *****  -->
	<xs:complexType name="PhraseCatalogue">
		<xs:annotation>
			<xs:documentation> Catalogue of standard phrases used in the datasheet. Used in chapter 0 and referred in for example exposure scenarios. PhraseCatalogues and PhraseIds simplifies translation to other languages. Example: EUPhraC catalogue. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PhraseCatalogueName" type="SDScom:string256" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation>Phrase catalogue Name, eg. EuPhraC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhraseCatalogueIssuer" type="SDScom:string256" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Phrase catalogue issuer: Identification of the suppler of the phrase catalogue to the exporting system, eg. EuPhraC-Workinggroup. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhraseCatalogueVersion" type="SDScom:string64" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Catalogue version: The version no of the phrase catalog the information is based on to identify the actual version of the phrase catalogue applied. Phrase catalogues are updated more or less regularly, and different versions may show some differences. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhraseCatalogueDate" type="xs:date">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation>Date of release of the catalogue version: The version timestamp of the phrase catalogue the information is based on</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="PhraseCatalogueId" type="xs:integer" default="0"/>
	</xs:complexType>
	<!-- ****************************************************************************** SUMI = Safe Use Information for Mixtures ***** -->
	<xs:complexType name="TransportUnNumbers">
		<xs:sequence>
			<xs:element name="UnNoAdrRid" type="SDScom:int4" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> UN number ADR and RID: </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnNoAdn" type="SDScom:int4" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> UN number ADN: </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnNoImdg" type="SDScom:int4" minOccurs="0">
				<xs:annotation>
					<xs:documentation> UN number IMDG: </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnNoIcao" type="SDScom:int4" minOccurs="0">
				<xs:annotation>
					<xs:documentation> UN number ICAO: </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportProperShippingNames">
		<xs:sequence>
			<xs:element name="AdrRid" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Proper shipping name ADR and RID: Designation of the dangerous goods according to land transport regulations. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProperShippingNameEnglishAdrRid" type="SDScom:Phrase" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation>Content should be in English language - see issue #13</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProperShippingNameNationalAdrRid" type="SDScom:Phrase" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>SDScomBau</xs:appinfo>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation>Content should be in the language of the SDS - see issue #13</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DangerReleasingSubstanceEnglishAdrRid" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation>Content should be in English language - see issue #13</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DangerReleasingSubstanceNationalAdrRid" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>SDScomBau</xs:appinfo>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation>Content should be in the language of the SDS - see issue #13</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Adn" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Proper shipping name ADN: Designation of the dangerous goods according to inland waterways transport regulations. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProperShippingNameEnglishAdn" type="SDScom:Phrase" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation>Content should be in English language - see issue #13</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProperShippingNameNationalAdn" type="SDScom:Phrase" minOccurs="0">
							<xs:annotation>
								<xs:appinfo>SDScomBau</xs:appinfo>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation>Content should be in the language of the SDS - see issue #13</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DangerReleasingSubstanceEnglishAdn" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation>Content should be in English language - see issue #13</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DangerReleasingSubstanceNationalAdn" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:appinfo>SDScomBau</xs:appinfo>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation>Content should be in the language of the SDS - see issue #13</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Imdg" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Proper shipping name IMDG: Designation of the dangerous goods according to marine waterways transport regulations. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProperShippingNameEnglishImdg" type="SDScom:Phrase" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Content should be in English language - see issue #13</xs:documentation>
							</xs:annotation>
						</xs:element>
						<!-- Updated from English only -->
						<xs:element name="DangerReleasingSubstanceEnglishImdg" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Content should be in English language - see issue #13</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Icao" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Proper shipping name ICAO: Designation of the dangerous goods for air transport. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProperShippingNameEnglishIcao" type="SDScom:Phrase" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Content should be in English language - see issue #13</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DangerReleasingSubstanceEnglishIcao" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Content should be in English language - see issue #13</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportHazardClassifications">
		<xs:sequence>
			<xs:element name="AdrRid" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ClassAdrRid" type="SDScom:TransportClassEnum" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>SDScomBau</xs:appinfo>
								<xs:appinfo>SDScomChem</xs:appinfo>
								<xs:documentation> ADR and RID hazard class: The chemical’s most important transport hazard class. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ClassCodeAdrRid" type="SDScom:string4" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>SDScomBau</xs:appinfo>
								<xs:appinfo>SDScomChem</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="HazardLabelAdrRid" type="SDScom:TransportClassEnum" minOccurs="0" maxOccurs="3"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Adn" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ClassAdn" type="SDScom:TransportClassEnum" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>SDScomBau</xs:appinfo>
								<xs:appinfo>SDScomChem</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="ClassCodeAdn" type="SDScom:string4" minOccurs="1">
							<xs:annotation>
								<xs:appinfo>SDScomBau</xs:appinfo>
								<xs:appinfo>SDScomChem</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="HazardLabelAdn" type="SDScom:TransportClassEnum" minOccurs="0" maxOccurs="3"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Imdg" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ClassImdg" type="SDScom:TransportClassEnum" minOccurs="1">
							<xs:annotation>
								<xs:documentation> IMDG hazard class: The chemical’s most important transport hazard class. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SubsidiaryRiskImdg" type="SDScom:TransportClassEnum" minOccurs="0" maxOccurs="2"/>
						<xs:element name="ImdgHazardLabel" type="SDScom:TransportClassEnum" minOccurs="0" maxOccurs="3"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IcaoIata" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ClassIcaoIata" type="SDScom:TransportClassEnum" minOccurs="1"/>
						<xs:element name="SubsidiaryRiskIcaoIata" type="SDScom:TransportClassEnum" minOccurs="0" maxOccurs="2"/>
						<xs:element name="IcaoIataHazardLabel" type="SDScom:TransportClassEnum" minOccurs="0" maxOccurs="3"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="TransportHazardClassificationComments" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> Comments to transport hazard classification: </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportPackingGroups">
		<xs:sequence>
			<xs:element name="PackingGroupAdrRid" type="SDScom:PackingGroupEnum" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackingGroupAdn" type="SDScom:PackingGroupEnum" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackingGroupImdg" type="SDScom:PackingGroupEnum" minOccurs="0"/>
			<xs:element name="PackingGroupIcaoIata" type="SDScom:PackingGroupEnum" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportEnvironmentalHazards">
		<xs:sequence>
			<xs:element name="EnvironmHazardAccordAdrRid" type="SDScom:Phrase" minOccurs="0">
				<xs:annotation>
					<xs:documentation>either "Environmentally hazardous" or empty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnvironmHazardAccordAdn" type="SDScom:Phrase" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation>either "Environmentally hazardous" or empty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Imdg" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EnvironmHazardAccordImdg" type="SDScom:Phrase" minOccurs="0">
							<xs:annotation>
								<xs:documentation>either "Environmentally hazardous" or empty</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MarinePollutant" type="xs:boolean" minOccurs="0">
							<xs:annotation>
								<xs:documentation> Marine pollutant: To state if the chemical is classified as a marine pollutant.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EnvironmHazardAccordIcaoIata" type="SDScom:Phrase" minOccurs="0">
				<xs:annotation>
					<xs:documentation>either "Environmentally hazardous" or empty</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportOtherInformation">
		<xs:sequence>
			<xs:element name="AdrRidOtherInformation" minOccurs="0">
				<xs:annotation>
					<xs:appinfo>SDScomChem</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AdrRidLimitedQty" type="SDScom:string20" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>may have a value like "500 mL or 500 g"</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdrRidExceptedQty" type="SDScom:TransportEq" minOccurs="0"/>
						<xs:element name="AdrRidSpecialProvisions" type="SDScom:string4" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="AdrTunnelRestrictionCode" type="SDScom:string10" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:appinfo>SDScomChem</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdrTransportCategory" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AdrHazardIdentificationNo" type="SDScom:string10" minOccurs="0">
							<xs:annotation>
								<xs:documentation>also known as Kemler code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdrRidOtherInfo" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdnOtherInformation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AdnLimitedQty" type="SDScom:string20" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>may have a value like "500 mL or 500 g"</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdnExceptedQty" type="SDScom:TransportEq" minOccurs="0"/>
						<xs:element name="AdnSpecialProvisions" type="SDScom:string4" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="AdnOtherInfo" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ImdgOtherInformation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ImdgLimitedQty" type="SDScom:string20" minOccurs="0" maxOccurs="1"/>
						<xs:element name="ImdgExceptedQty" type="SDScom:TransportEq" minOccurs="0"/>
						<xs:element name="ImdgSpecialProvisions" type="SDScom:string4" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="ImdgEmsCode" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="F-\p{Lu}, S-\p{Lu}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ImdgOtherInfo" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="IcaoIataOtherInformation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IcaoIataLimitedQty" type="SDScom:string20" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>may have a value like "500 mL or 500 g"</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IcaoIataExemptedQty" type="SDScom:TransportEq" minOccurs="0"/>
						<xs:element name="IcaoIataSpecialProvisions" type="SDScom:string4" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="IcaoIataOtherInfo" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NationalRegulations">
		<xs:sequence>
			<!-- National Extensions introduced in SdsXmlNE_<Regioncode>.xsd  schema files -->
			<xs:element name="NationalLegislationAndorra" type="SDScom:NationalExtensionAD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationAlbania" type="SDScom:NationalExtensionAL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationArmenia" type="SDScom:NationalExtensionAM" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationAustria" type="SDScom:NationalExtensionAT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationBosniaAndHerzegovina" type="SDScom:NationalExtensionBA" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationBelgium" type="SDScom:NationalExtensionBE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationBulgaria" type="SDScom:NationalExtensionBG" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationBelarus" type="SDScom:NationalExtensionBY" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationSwitzerland" type="SDScom:NationalExtensionCH" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationCzechRepublic" type="SDScom:NationalExtensionCZ" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationGermany" type="SDScom:NationalExtensionDE" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>SDScomBau</xs:appinfo>
					<xs:appinfo>SDScomChem</xs:appinfo>
					<xs:documentation> National legislations related to the chemical: National German laws which implement provisions, and any other national measures related to the chemical. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NationalLegislationDenmark" type="SDScom:NationalExtensionDK" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationEstonia" type="SDScom:NationalExtensionEE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationSpain" type="SDScom:NationalExtensionES" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationFinland" type="SDScom:NationalExtensionFI" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationFrance" type="SDScom:NationalExtensionFR" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationUnitedKingdom" type="SDScom:NationalExtensionGB" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationGeorgia" type="SDScom:NationalExtensionGE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationGreece" type="SDScom:NationalExtensionGR" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationCroatia" type="SDScom:NationalExtensionHR" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationHungary" type="SDScom:NationalExtensionHU" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationIreland" type="SDScom:NationalExtensionIE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationIceland" type="SDScom:NationalExtensionIS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationItaly" type="SDScom:NationalExtensionIT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationKazakhstan" type="SDScom:NationalExtensionKZ" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationLiechtenstein" type="SDScom:NationalExtensionLI" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationLithuania" type="SDScom:NationalExtensionLT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationLuxembourg" type="SDScom:NationalExtensionLU" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationLatvia" type="SDScom:NationalExtensionLV" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationMonaco" type="SDScom:NationalExtensionMC" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationRepublicOfMoldova" type="SDScom:NationalExtensionMD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationMontenegro" type="SDScom:NationalExtensionME" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationTheFormerYugoslavRepublicOfMacedonia" type="SDScom:NationalExtensionMK" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationMalta" type="SDScom:NationalExtensionMT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationNetherlands" type="SDScom:NationalExtensionNL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationNorway" type="SDScom:NationalExtensionNO" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationPoland" type="SDScom:NationalExtensionPL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationPortugal" type="SDScom:NationalExtensionPT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationRomania" type="SDScom:NationalExtensionRO" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationSerbia" type="SDScom:NationalExtensionRS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationRussianFederation" type="SDScom:NationalExtensionRU" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationSweden" type="SDScom:NationalExtensionSE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationSlovenia" type="SDScom:NationalExtensionSI" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationSlovakia" type="SDScom:NationalExtensionSK" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationSanMarino" type="SDScom:NationalExtensionSM" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationTurkey" type="SDScom:NationalExtensionTR" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationUkraine" type="SDScom:NationalExtensionUA" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationUzbekistan" type="SDScom:NationalExtensionUZ" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NationalLegislationVaticanCityState" type="SDScom:NationalExtensionVA" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SUMI">
		<xs:annotation>
			<xs:documentation>Safe Use Information for Mixtures. Based on a draft prepared by Qualisys GmbH, Langenfeld, Germany, and published under CC license BY-SA 4.0 during the BDI workshop in Berlin, 26 October 2016. Includes information from the presentation of Martin Kops at ENES 8 and other documents.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SumiReference" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SectorSumiCode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Leave empty if the Sumi is not published by a chemical sector association and part of Use Map activities (no company specific SUMI codes here!). First word should be the sector name, e.g. AISE or FEICA, followed by the sector's SUMI code. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="VersionNumber" type="SDScom:string16" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Version number is optional here because SUMI info is part of the eSDS which is versioned, so the version date is expected to be the same and is sufficient to determine a sector SUMI version.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Title" type="SDScom:Phrase" maxOccurs="unbounded"/>
			<xs:element name="GeneralDescription">
				<xs:complexType>
					<xs:choice>
						<xs:element name="UseDescriptors" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SectorOfUse" type="SDScom:SectorOfUse" minOccurs="0"/>
									<xs:element name="ProcessCategory" type="SDScom:ProcessCategory" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SwedReference" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Reference to the Sector-specific Worker Exposure Description as named in the sector's Use Map.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Text" type="SDScom:Phrase" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="OperationalConditions">
				<xs:complexType>
					<xs:choice>
						<xs:element name="Properties">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="MaxDuration" type="SDScom:OneUnitValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Maximum duration of the use/application.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="RangeOfApplication" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
									<xs:element name="AirExchangeRate" type="SDScom:OneUnitValue" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Air exchange rate (equals VentilationRate in ESCom XML) is a minimum value.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Other" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Text" type="SDScom:Phrase" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="RiskManagementMeasures">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RmmWorker" type="SDScom:Phrase" maxOccurs="unbounded"/>
						<xs:element name="RmmPictogram" type="SDScom:RmmPictogramEnum" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="RmmEnvironment" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GoodPracticeAdvice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>In Exposure Scenarios, also known as AGPA = Additional Good Practice Advice</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Text" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="AgpaPictogram" type="SDScom:AgpaPictogramEnum" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalInfo" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DisclaimerBoundaries" type="SDScom:Phrase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Describes the boundaries of the SUMI. Mandatory according to some sources, optional according to others.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
